<div>
  <h2 id="page-heading" data-cy="NroSerieTituloHeading">
    <span jhiTranslate="sistTituApp.nroSerieTitulo.home.title">Nro Serie Titulos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sistTituApp.nroSerieTitulo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nro-serie-titulo"
        [routerLink]="['/nro-serie-titulo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sistTituApp.nroSerieTitulo.home.createLabel"> Create a new Nro Serie Titulo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nroSerieTitulos?.length === 0">
    <span jhiTranslate="sistTituApp.nroSerieTitulo.home.notFound">No nroSerieTitulos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nroSerieTitulos && nroSerieTitulos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sistTituApp.nroSerieTitulo.nroSerieInicio">Nro Serie Inicio</span></th>
          <th scope="col"><span jhiTranslate="sistTituApp.nroSerieTitulo.nroSerieFin">Nro Serie Fin</span></th>
          <th scope="col"><span jhiTranslate="sistTituApp.nroSerieTitulo.fechaInicio">Fecha Inicio</span></th>
          <th scope="col"><span jhiTranslate="sistTituApp.nroSerieTitulo.fechaFin">Fecha Fin</span></th>
          <th scope="col"><span jhiTranslate="sistTituApp.nroSerieTitulo.usuarioAlta">Usuario Alta</span></th>
          <th scope="col"><span jhiTranslate="sistTituApp.nroSerieTitulo.usuarioModificacion">Usuario Modificacion</span></th>
          <th scope="col"><span jhiTranslate="sistTituApp.nroSerieTitulo.serie">Serie</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nroSerieTitulo of nroSerieTitulos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nro-serie-titulo', nroSerieTitulo.id, 'view']">{{ nroSerieTitulo.id }}</a>
          </td>
          <td>{{ nroSerieTitulo.nroSerieInicio }}</td>
          <td>{{ nroSerieTitulo.nroSerieFin }}</td>
          <td>{{ nroSerieTitulo.fechaInicio | formatMediumDate }}</td>
          <td>{{ nroSerieTitulo.fechaFin | formatMediumDate }}</td>
          <td>{{ nroSerieTitulo.usuarioAlta }}</td>
          <td>{{ nroSerieTitulo.usuarioModificacion }}</td>
          <td>{{ nroSerieTitulo.serie }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nro-serie-titulo', nroSerieTitulo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nro-serie-titulo', nroSerieTitulo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nroSerieTitulo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
