<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="alumno">
      <h2 data-cy="alumnoDetailsHeading"><span jhiTranslate="sistTituApp.alumno.detail.title">Alumno</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ alumno.id }}</span>
        </dd>
        <dt><span>Documento</span></dt>
        <dd>
          <span>{{ alumno.documento }}</span>
        </dd>
        <dt><span>Id Tipo Documento</span></dt>
        <dd>
          <span>{{ alumno.idTipoDocumento }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ alumno.nombre }}</span>
        </dd>
        <dt><span>Apellido</span></dt>
        <dd>
          <span>{{ alumno.apellido }}</span>
        </dd>
        <dt><span>Fecha Nacimento</span></dt>
        <dd>
          <span>{{ alumno.fechaNacimento | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Sexo</span></dt>
        <dd>
          <span>{{ alumno.sexo }}</span>
        </dd>
        <dt><span>Ciudad Nacimiento</span></dt>
        <dd>
          <span>{{ alumno.ciudadNacimiento }}</span>
        </dd>
        <dt><span>Provincia Nacimiento</span></dt>
        <dd>
          <span>{{ alumno.provinciaNacimiento }}</span>
        </dd>
        <dt><span>Id Nacionalidad</span></dt>
        <dd>
          <span>{{ alumno.idNacionalidad }}</span>
        </dd>
        <dt><span>Id Ser Creador</span></dt>
        <dd>
          <span>{{ alumno.idSerCreador }}</span>
        </dd>
        <dt><span>Id Provincia</span></dt>
        <dd>
          <span>{{ alumno.idProvincia }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/alumno', alumno.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
