<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="turno">
      <h2 data-cy="turnoDetailsHeading"><span jhiTranslate="sistTituApp.turno.detail.title">Turno</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ turno.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.turno.turno">Turno</span></dt>
        <dd>
          <span>{{ turno.turno }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.turno.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ turno.descripcion | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.turno.vigh">Vigh</span></dt>
        <dd>
          <span>{{ turno.vigh | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.turno.orden">Orden</span></dt>
        <dd>
          <span>{{ turno.orden }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
