<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rendicion">
      <h2 data-cy="rendicionDetailsHeading"><span jhiTranslate="sistTituApp.rendicion.detail.title">Rendicion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rendicion.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.dniUsuario">Dni Usuario</span></dt>
        <dd>
          <span>{{ rendicion.dniUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.nombreUsuario">Nombre Usuario</span></dt>
        <dd>
          <span>{{ rendicion.nombreUsuario }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.dniUsuarioAnulador">Dni Usuario Anulador</span></dt>
        <dd>
          <span>{{ rendicion.dniUsuarioAnulador }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.nombreUsuarioAnulador">Nombre Usuario Anulador</span></dt>
        <dd>
          <span>{{ rendicion.nombreUsuarioAnulador }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.motivo">Motivo</span></dt>
        <dd>
          <span>{{ rendicion.motivo }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.causaRechazo">Causa Rechazo</span></dt>
        <dd>
          <span>{{ rendicion.causaRechazo }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.fechaAnulacion">Fecha Anulacion</span></dt>
        <dd>
          <span>{{ rendicion.fechaAnulacion | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.dniAlumno">Dni Alumno</span></dt>
        <dd>
          <span>{{ rendicion.dniAlumno }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.nombreAlumno">Nombre Alumno</span></dt>
        <dd>
          <span>{{ rendicion.nombreAlumno }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.alumnoTituloId">Alumno Titulo Id</span></dt>
        <dd>
          <span>{{ rendicion.alumnoTituloId }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.establecimientoId">Establecimiento Id</span></dt>
        <dd>
          <span>{{ rendicion.establecimientoId }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.claveEstab">Clave Estab</span></dt>
        <dd>
          <span>{{ rendicion.claveEstab }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.rama">Rama</span></dt>
        <dd>
          <span>{{ rendicion.rama }}</span>
        </dd>
        <dt><span jhiTranslate="sistTituApp.rendicion.nroFormulario">Nro Formulario</span></dt>
        <dd>
          <span>{{ rendicion.nroFormulario }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rendicion', rendicion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
